@model TechZone.Web.Models.FeedbackViewModel
@using BotDetect.Web.Mvc;
@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/Layouts.cshtml";
}
@section footerJS{
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAk3Eeu6MXm1Y6qil2hO6j89kckY5nnSTo"></script>
    <script src="~/Assets/client/js/controllers/contact.js"></script>
}
<style>
    #map {
        height: 300px;
    }
    #btn {
        padding: 10px 25px;
        color: #fff;
        background: #F97E76;
        font-size: 1.1em;
        border: none;
        outline: none;
        cursor: pointer;
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        transition: 0.5s all;
        float: right;
    }
</style>
<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />
<input type="hidden" id="hidAddress" value="<b>@Model.ContactDetail.Name</b><br />Điện thoại:@Model.ContactDetail.Phone <br>Địa chỉ: @Model.ContactDetail.Address <br><a target='_blank' href='https://maps.google.com/maps?ll=@Model.ContactDetail.Lat,@Model.ContactDetail.Lng&amp;z=18&amp;t=m&amp;hl=vi&amp;gl=US&amp;mapclient=apiv3&amp;cid=14317441038146502191'> <span style='color:blue'>Xem trên Google Maps</span> </a>" />
<input type="hidden" id="hidLat" value="@Model.ContactDetail.Lat" />
<input type="hidden" id="hidLng" value="@Model.ContactDetail.Lng" />
<input type="hidden" id="hidName" value="@Model.ContactDetail.Name" />
<div class="main">
    <div class="reservation_top">
        <div class="contact_right">
            <h3>Thông tin liên hệ</h3>
            <address class="address">
                <p>@Model.ContactDetail.Address</p>
                <dl>
                    <dt></dt>
                    <dd>Điện thoại:&nbsp;<span>@Model.ContactDetail.Phone</span></dd>
                    <dd>E-mail:&nbsp;<a href="mailto:@(Model.ContactDetail.Email)">@(Model.ContactDetail.Email)</a></dd>
                </dl>
            </address>
            <div class="clearfix"></div>
            <div id="map"></div>
        </div>
    </div>
    <div class="reservation_top">
        <div class="contact_right">
            <h3>Gửi thông tin liên hệ</h3>
            <div class="contact-form">
                @using (Html.BeginForm("SendFeedback", "Contact", FormMethod.Post))
                {
                    if (ViewData["SuccessMsg"] != null)
                    {

                        <div class="alert alert-success" role="alert">
                            Cảm ơn bạn đã gửi phản hồi!
                            <br />Chúng tôi sẽ liên hệ lại sớm nhất có thể.
                        </div>
                        <button id="btn">Gửi lại</button>
                    }
                    else
                    {
                        @Html.ValidationSummary(false, "", new { @class = "error" });
                        <lable>Tên người dùng:</lable>@Html.TextBoxFor(model => model.Name, new { @class = "textbox" });
                        <lable>Email:</lable>@Html.TextBoxFor(model => model.Email, new { @class = "textbox" });
                        <lable>Nội dung:</lable>@Html.TextAreaFor(model => model.Message);

                        MvcCaptcha contactCaptcha = new MvcCaptcha("contactCaptcha");
                        <lable>Mã xác nhận:</lable>
                        @Html.Captcha(contactCaptcha)
                        @Html.TextBox("CaptchaCode")

                        <input type="submit" value="Gửi đi">
                    }
                    <div class="clearfix"> </div>
                }
            </div>
        </div>
    </div>
</div>