@model IEnumerable<TechZone.Web.Models.ShoppingCartViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts.cshtml";
}

@section footerJS{
    <script>
        $('.btnContinue').off('click').on('click', function (e) {
            e.preventDefault();
            window.location.href = "/";
        });
    </script>
}
<div class="single_top">
    <h2 style="margin-top: 0; margin-bottom: 30px;">Sản phẩm đã đặt hàng</h2>
    <div class="single_grid">
        <div id="cartContent">
            <table class="table">
                <thead>
                    <tr>
                        <td style="width: 25px;">STT</td>
                        <td>Tên sản phẩm</td>
                        <td>Hình ảnh</td>
                        <td>Giá</td>
                        <td>Số lượng</td>
                        <td>Thành tiền</td>
                    </tr>
                </thead>
                <tbody id="cartBody">
                    @{
                        var index = 1;
                    }
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="text-align:center">@(index)</td>
                            <td>@item.Product.Name</td>
                            <td><img src="@item.Product.Image" height="50" /></td>
                            <td>@(item.Product.Price.ToString("N0", new System.Globalization.CultureInfo("en-US")))</td>
                            <td>@item.Quantity</td>
                            <td>@((item.Quantity*item.Product.Price).ToString("N0", new System.Globalization.CultureInfo("en-US")))</td>
                        </tr>
                        index++;
                    }
                </tbody>
            </table>
            <button class="btn btn-success btnContinue">Mua hàng</button>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>