@model TechZone.Web.Models.ProductViewModel

@{
    ViewBag.Title = Model.Name;
    ViewBag.MetaKeyword = Model.MetaKeyword;
    ViewBag.MetaDescription = Model.MetaDescription;
    Layout = "~/Views/Shared/Layouts.cshtml";
}

<link href="~/Assets/client/css/etalage.css" rel="stylesheet" />
@section footerJS{
    <script type="text/javascript" src="/Assets/client/js/jquery.flexisel.js"></script>
    <script src="/Assets/client/js/jquery.etalage.min.js"></script>
    <script>
        function replaceText() {
            const maxTextLength = 30;
            const elements = document.querySelectorAll(".relatedProductName");
            elements.forEach(element => {
                let myText = element.textContent;
                if (myText.length > maxTextLength) {
                    myText = myText.substring(0, maxTextLength - 3) + "...";
                }
                element.innerHTML = myText;
            });
        }

        jQuery(document).ready(function ($) {
            $("#flexiselDemo1").flexisel({
                visibleItems: 5,
                animationSpeed: 1000,
                autoPlay: true,
                autoPlaySpeed: 3000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 1
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 2
                    },
                    tablet: {
                        changePoint: 768,
                        visibleItems: 3
                    }
                }
            });

            $('#etalage').etalage({
                thumb_image_width: 300,
                thumb_image_height: 400,
                source_image_width: 900,
                source_image_height: 1200,
                show_hint: true,
                click_callback: function (image_anchor, instance_id) {
                    alert('Callback example:\nYou clicked on an image with the anchor: "' + image_anchor + '"\n(in Etalage instance: "' + instance_id + '")');
                }
            });

        });
    </script>
}
<div class="single_top">
    <div class="single_grid">
        <div class="grid images_3_of_2">

            <ul id="etalage">
                <li>
                    <a href="#">
                        <img class="etalage_thumb_image img-responsive" src="@Model.Image" style="padding: 50px 0px;" />
                        <img class="etalage_source_image img-responsive" src="@Model.Image" title="" />
                    </a>
                </li>
                @{
                    if (ViewBag.MoreImages != null)
                    {
                        var moreImages = (List<string>)ViewBag.MoreImages;
                        if (moreImages.Count > 0)
                        {
                            foreach (var image in moreImages)
                            {
                                <li>
                                    <img class="etalage_thumb_image img-responsive" src="@image" />
                                    <img class="etalage_source_image img-responsive" src="@image" title="" />
                                </li>
                            }
                        }
                    }
                }
            </ul>
            <div class="clearfix"> </div>
        </div>
        <div class="desc1 span_3_of_2">

            <h4>@Model.Name</h4>
            <div class="cart-b">
                <div class="left-n ">@(Model.Price == 0 ? "Liên hệ" : Model.Price.ToString("N0"))</div>
                <a class="now-get get-cart-in btnAddToCart" href="#" data-id="@Model.ID">Thêm vào giỏ hàng</a>
                <div class="clearfix"></div>
            </div>
            <h6>@Model.Quantity sản phẩm trong kho</h6>
            <p>@Model.Description</p>
            <div class="tag">
                <h5>Tag :</h5>
                <ul class="taglist">
                    @foreach (var tag in (IEnumerable<TechZone.Web.Models.TagViewModel>)ViewBag.Tags)
                    {
                        <li><a href="/tag/@(tag.ID).html/">@(tag.Name)</a>&nbsp;&nbsp;</li>
                    }
                </ul>
            </div>
            <div class="clearfix"></div>
            <div class="share">
                <h5>Chia sẻ :</h5>
                <ul class="share_nav">
                    <li><a href="javascript:void(0);"><img src="/Assets/client/images/facebook.png" title="facebook"></a></li>
                    <li><a href="javascript:void(0);"><img src="/Assets/client/images/twitter.png" title="Twitter"></a></li>
                    <li><a href="javascript:void(0);"><img src="/Assets/client/images/rss.png" title="Rss"></a></li>
                    <li><a href="javascript:void(0);"><img src="/Assets/client/images/gpluse.png" title="Google+"></a></li>
                </ul>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
    @{
        var relatedProducts = (IEnumerable<TechZone.Web.Models.ProductViewModel>)ViewBag.RelatedProducts;
    }

    <h2 class="m_3">Có thể bạn thích</h2>
    <div style="width:99.8%">
        <ul id="flexiselDemo1">
            @foreach (var product in relatedProducts)
            {
                <li style="width: 120px">
                    <a href="/@(product.Alias).p-@(product.ID).html/">
                        <img src="@product.Image" height="100" style="margin: 10px 0" />
                        <div class="grid-flex">
                            <p class="relatedProductName">@product.Name</p>
                            <p>@product.Price.ToString("N0")</p>
                        </div>
                    </a>
                </li>
            }
        </ul>
    </div>

    <div class="toogle">
        <h2 class="m_3">Chi tiết sản phẩm</h2>
        <p class="m_text">@Html.Raw(Model.Content)</p>
    </div>
</div>