@model TechZone.Web.Models.HomeViewModel
@{
    ViewBag.Title = Model.Title;
    ViewBag.MetaKeyword = Model.MetaKeyword;
    ViewBag.MetaDescription = Model.MetaDescription;
    Layout = "~/Views/Shared/Layouts.cshtml";

}
@section footerJs{
    <script src="/Assets/client/js/jquery.wmuSlider.js"></script>
    <script>
        $('.example1').wmuSlider();
        function replaceText() {
            const maxTextLength = 50;
            const elements = document.querySelectorAll(".productName");
            elements.forEach(element => {
                let myText = element.textContent;
                if (myText.length > maxTextLength) {
                    myText = myText.substring(0, maxTextLength - 3) + "...";
                }
                element.innerHTML = myText;
            });
        }
    </script>
}
<div class="shoes-grid">

    <div class="wrap-in">
        <div class="wmuSlider example1 slide-grid" style="height: 385px; background: #fff;">
            <div class="wmuSliderWrapper">
                @*@foreach (var slide in Model.Slides)
                    {
                        <article style="position: absolute; width: 100%; opacity: 0;">
                            <div class="banner-matter">
                                <div class="col-md-5 banner-bag">
                                    <img class="img-responsive " src="@slide.Image" alt="@slide.Name" />
                                </div>
                                <div class="col-md-7 banner-off">
                                    @Html.Raw(slide.Content)
                                </div>

                                <div class="clearfix"> </div>
                            </div>
                        </article>

                    }*@
                <article style="position: absolute; width: 100%; opacity: 0;">
                    <div class="banner-matter">
                        <div class="col-md-5 banner-bag">
                            <img src="~/Assets/client/images/slide/Cate-DT-694x376_Ver3.jpg" />
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </article>
                <article style="position: absolute; width: 100%; opacity: 0;">
                    <div class="banner-matter">
                        <div class="col-md-5 banner-bag">
                            <img src="~/Assets/client/images/slide/Laptop-FUJITSU-694x376-Home banner.jpg" />
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </article>
                <article style="position: absolute; width: 100%; opacity: 0;">
                    <div class="banner-matter">
                        <div class="col-md-5 banner-bag">
                            <img src="~/Assets/client/images/slide/Homepage-Banner_694x376px.jpg" />
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </article>
            </div>

            <ul class="wmuSliderPagination">
                @*@for (int i = 0; i < Model.Slides.Count(); i++)
                    {
                        <li><a href="#" class="">i</a></li>
                    }*@

                @for (int i = 0; i < 3; i++)
                {
                    <li><a href="#" class="">i</a></li>
                }
            </ul>
        </div>
    </div>
    <div class="products">
        @*<h5 class="latest-product">Sản phẩm mới nhất</h5>
            <a class="view-all" href="#">Xem tất cả<span> </span></a>*@
        <img src="~/Assets/client/images/slide/Title-San-Top-SP-WEB.jpg" />
    </div>
    <div class="product-left">
        @foreach (var product in Model.LastestProducts)
        {
            var url = "/" + product.Alias + ".p-" + product.ID + ".html/";
            <div class="col-md-4 chain-grid grid-top-chain">
                <div style="padding: 7px; height: 300px; display: flex; justify-content: center; align-items: center; ">
                    <a href="@url"><img class="img-responsive chain" src="@product.Image"  style="display: block; margin: auto; padding:0"/></a>
                </div>
                <span class="star"> </span>
                <div class="grid-chain-bottom">
                    <h6><a href="@url" class="productName">@product.Name</a></h6>
                    <div class="star-price">
                        <div class="dolor-grid">
                            @if (product.PromotionPrice.HasValue)
                            {
                                <span class="actual">@product.PromotionPrice.Value.ToString("N0")</span>
                            }
                            <span class="reducedfrom">@product.Price.ToString("N0")</span>
                        </div>
                        <a class="now-get get-cart" href="@url">Mua hàng</a>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        }

        <div class="clearfix"> </div>
    </div>
    <div class="products">
        @*<h5 class="latest-product">Sản phẩm bán chạy</h5>
            <a class="view-all" href="#">Xem tất cả<span> </span></a>*@
        <img src="~/Assets/client/images/slide/Title-San-Uu-Dai-Noi-Bat-WEB.jpg" />
    </div>
    <div class="product-left">
        @foreach (var product in Model.TopSaleProducts)
        {
            var url = "/" + product.Alias + ".p-" + product.ID + ".html/";
            <div class="col-md-4 chain-grid grid-top-chain">
                <div style="padding: 7px; height: 300px; display: flex; justify-content: center; align-items: center; ">
                    <a href="@url"><img class="img-responsive chain" src="@product.Image" style="display: block; margin: auto; padding:0" /></a>
                </div>
                <div class="grid-chain-bottom">
                    <h6><a href="@url" class="productName">@product.Name</a></h6>
                    <div class="star-price">
                        <div class="dolor-grid">
                            @if (product.PromotionPrice.HasValue)
                            {
                                <span class="actual">@product.PromotionPrice.Value.ToString("N0")</span>
                            }
                            <span class="reducedfrom">@product.Price.ToString("N0")</span>
                        </div>
                        <a class="now-get get-cart" href="@url">Mua hàng</a>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        }
        <div class="clearfix"> </div>
    </div>
</div>