<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.MetaKeyword">
    <meta name="keywords" content="@ViewBag.MetaDescription">
    @Styles.Render("~/css/base")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!--//fonts-->
    <style>
        .ui-autocomplete {
            z-index: 1000
        }
    </style>
</head>
<body onload="replaceText()">
    <!--header-->
    @{Html.RenderAction("Header", "Home");}
    <!---->
    <div class="container">
        @RenderBody()
        @{Html.RenderAction("Category", "Home");}
    </div>

    @{ Html.RenderAction("Footer", "Home");}
    <div class="clearfix"> </div>

    @Scripts.Render("~/js/jquery")
    @Scripts.Render("~/js/plugins")
    @RenderSection("footerJS", required: false)

    <script type="text/javascript">
        $(document).ready(function () {
            var menu_ul = $('.menu > li > ul'),
                menu_a = $('.menu > li > a');

            // Ẩn toàn bộ danh sách con
            menu_ul.addClass('hide');

            // Hiển thị menu con khi rê chuột vào menu cha
            menu_a.hover(function () {
                // Ẩn toàn bộ menu con
                menu_ul.addClass('hide');
                menu_ul.removeClass('show');
                menu_a.removeClass('color');

                // Hiển thị danh sách con của menu cha vừa rê chuột đến
                $(this).next(menu_ul).removeClass('hide');
                $(this).next(menu_ul).addClass('show');
                    
                $(this).addClass('color');
            });

            // Ẩn menu con khi rời khỏi menu
            $('.menu').mouseleave(function () {
                menu_ul.addClass('hide');
                menu_ul.removeClass('show');
                menu_a.removeClass('color');
            });
        });


    </script>
</body>
</html>